
.loginWrapper{
    background-color: blueviolet;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px; /*100px*/
}

.dimensionStyle{
    width: 170px;
    margin: 5px;
}

.inputStyle{
    width: 170px;
}