
.loginWrapper{
    background-color: #318CE7;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 390px;
    border: 10px;
    border: groove;
}

.buttonStyle{
    width: 255px !important;
    margin-bottom: 5px;
    height: 50px !important;
    border-radius: 10px !important;
    background-color: #f7d517 !important;
    font-size: 18px !important;
}

.titleStyle{
   font-size: 40px;
   padding: 0px;
   margin: 0px 0px 20px 0px;
   color: white;
}

.buttonStyle:hover{
    background-color: #0039a6 !important;
    cursor: pointer;
}

.inputStyle{
    width: 255px !important;
    height: 45px !important;
    font-size: 18px;
    border-radius: 10px !important; 
}

.inputPassword{
    border-radius: 10px !important; 
    height: 45px !important;
    font-size: 18px;
}

.passwordWrapper{
    margin: 5px 0px 10px 0px;
    width: 255px !important;
}

.errorMessage{
    padding: 0px;
    margin: 0px;
    color: #9e212d !important; 
    width: 255px;
    height: 45px;
    text-align: center;
}